<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" conent="ie=edge">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <title>Project one</title>
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="(name, index) in names">
                    {{ name }} : {{ index }}
                </li>
            </ul>
            <ul>
                <li v-for="(car, index) in cars">
                    {{ car.brand }}-{{ car.color }} : {{ index }}
                </li>
            </ul>
            <ul>
                <li v-for="(key, value, index) in user">
                    {{ key }}-{{ value }} : {{ index }}
                </li>
            </ul>
        </div>
    </body>
    <script>
        const { createApp, ref } = Vue;
        createApp({
            setup() {
                const names = ref(['Daniel', 'Ramon']);
                const cars = ref([
                    { brand: 'Ford', color: 'Red' }
                ]);
                const user = {
                    name: 'daniel',
                    age: 40
                }

                return {
                    names, cars, user
                }
            }
        }).mount('#app')
    </script>
</html>